/* Dark mode colors. */
:root {
	--sl-color-accent-low: #221c47;
	--sl-color-accent: #6742e4;
	--sl-color-accent-high: #c3c2f9;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e8eefa;
	--sl-color-gray-2: #bbc2d1;
	--sl-color-gray-3: #7f8ba7;
	--sl-color-gray-4: #4d5872;
	--sl-color-gray-5: #2e3850;
	--sl-color-gray-6: #1d263d;
	--sl-color-black: #131823;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #d3d2fc;
	--sl-color-accent: #6844e7;
	--sl-color-accent-high: #302469;
	--sl-color-white: #131823;
	--sl-color-gray-1: #1d263d;
	--sl-color-gray-2: #2e3850;
	--sl-color-gray-3: #4d5872;
	--sl-color-gray-4: #7f8ba7;
	--sl-color-gray-5: #bbc2d1;
	--sl-color-gray-6: #e8eefa;
	--sl-color-gray-7: #f3f6fd;
	--sl-color-black: #ffffff;
}